default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5
  username:
  password:

development:
  <<: *default
  database: flying_money_development

test: &test
  <<: *default
  database: flying_money_test

cucumber:
  <<: *test
