- scope = 'activerecord.attributes.outlay'

dl.accordion data-accordion=''
  - current_user.outlays.monthly_amounts.each do |year_month, monthly_amount|
    - year_month_dash = year_month.gsub(?/, ?-)
    dd
      = link_to "#accordion-outlay-#{year_month_dash}", 'data-year-month' => year_month do
        .clearfix
          span.left= year_month
          span.right= number_to_yen(monthly_amount)

      .content id="accordion-outlay-#{year_month_dash}"
        div id="outlays-monthly-#{year_month_dash}"
          .text-center= fa_icon 'spinner spin'

coffee:
  show_outlays_monthly = (id, year_month) ->
    $id = $(id)
    return if $id.children('.monthly-outlays').length is 1

    $.ajax
      url: year_month,
      success: (html) ->
        $id.html html
        $(document).foundation('tooltip')

  $ ->
    $accordion_label = $('dl.accordion dd a[data-year-month]')

    $accordion_label.click (e) ->
      year_month = $(this).data('year-month').split('/')
      year  = year_month[0]
      month = year_month[1]
      show_outlays_monthly("#outlays-monthly-#{year}-#{month}", "/#{year}/#{month}")

    $accordion_label.first().click()
