h1 マイページ

= link_to 'Sign out', destroy_user_session_path, method: :delete

= render partial: 'outlays/form', locals: {outlay: @outlay}

#outlay_list
  = render partial: 'outlays/list', locals: {outlay_months: @outlay_months}
